<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <onemoretime_five>
            <version>0.2.0</version>
        </onemoretime_five>
    </modules>
    <frontend>
        <routers>
            <five>
                <use>standard</use>
                <args>
                    <module>onemoretime_five</module>
                    <frontName>five</frontName>
                </args>
            </five>
        </routers>
    </frontend>
    <global>
        <resources>
            <five_setup>
                <setup>
                    <module>onemoretime_five</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </five_setup>
            <five_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </five_write>
            <five_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </five_read>
        </resources>
        <models>
            <five>
                <class>onemoretime_five_model</class>
                <resourceModel>five_resource</resourceModel>
            </five>
            <five_resource>
                <class>onemoretime_five_Model_Resource</class>
                <entities>
                    <fivetable>
                        <table>five_fivetable</table>
                    </fivetable>
                </entities>
            </five_resource>
        </models>
    </global>
</config>