<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <trung_DtnOffice>
            <version>0.1.0</version>
        </trung_DtnOffice>
    </modules>
    <frontend>
        <routers>
            <DtnOffice>
                <use>standard</use>
                <args>
                    <module>trung_DtnOffice</module>
                    <frontName>dtn</frontName>
                </args>
            </DtnOffice>
        </routers>
        <layout>
            <updates>
                <DtnOffice>
                    <file>dtn.xml</file>
                </DtnOffice>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <DtnOffice>
                <class>trung_DtnOffice_block</class>
            </DtnOffice>
        </blocks>
        <resources>
            <dtn_setup>
                <setup>
                    <module>trung_DtnOffice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dtn_setup>
        </resources>
        <models>
            <DtnOffice>
                <class>trung_DtnOffice_model</class>
                <resourceModel>DtnOffice_mysql4</resourceModel>
            </DtnOffice>
            <DtnOffice_mysql4 >
                <class>trung_DtnOffice_model_mysql4</class>
                <entities>
                    <department>
                        <table>department</table>
                    </department>
                </entities>
            </DtnOffice_mysql4>
        </models>
    </global>
</config>