<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <trung_DtnOffice>
            <version>0.1.0</version>
        </trung_DtnOffice>
    </modules>
    <frontend>
        <routers>
            <DtnOffice>
                <use>standard</use>
                <args>
                    <module>trung_DtnOffice</module>
                    <frontName>dtn</frontName>
                </args>
            </DtnOffice>
        </routers>
    </frontend>
    <global>
        <resources>
            <DtnOffice_setup>
                <setup>
                    <module>trung_DtnOffice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </DtnOffice_setup>
            <DtnOffice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </DtnOffice_write>
            <DtnOffice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </DtnOffice_read>
        </resources>
    </global>
</config>